#  This file contains the GDCtools configuration for processing TCGA data
#  from the Genomic Data Commons at https://gdc.cancer.gov.  That processing
#  currently involves several steps:
#
#		1) Mirroring data & metadata from the GDC to local storage
#		2) Dicing (interpeting) that data to understand its content, enforce
#		   file format standards, count samples, etc
#		3) Generate sample loadfiles (akin to freeze lists), used to load the
#		   diced data into pipeline execution systems like Firehose
#		4) Easily generate aggregate cohorts: which combined two or more
#		   singleton cohorts into a larger cohort (e.g. combining the
#		   from TCGA into a pan-kidney cohort, aka KI
#
#  Each of these steps has a respective section in this config file.
#
#  On 2016_07_01 the Broad Institute proposed to GDC and NIH that some, and
#  perhaps most/all, of these steps might be performed more quickly and less
#  expensively, if instead of __only__ exposing data through an API for
#  downloading to local storate the GDC __also__ exposed data as pointers to
#  cloud buckets/storage; this would obviate the need to mirror large files 
#  (like BAMs) to local storage, and make data loading into cloud-based analysis
#  sytems (such as FireCloud) as easy as a shallow-copy of the bucket URI.
#
#  Config file version:  2016_09_09

[DEFAULT]
GDC_ROOT: /xchip/gdac_data/gdc

[mirror]
PROGRAMS: TCGA
ROOT_DIR: %(GDC_ROOT)s/mirror
LOG_DIR: %(GDC_ROOT)s/logs/mirror

[dice]
PROGRAMS: TCGA
ROOT_DIR: %(GDC_ROOT)s/dice
LOG_DIR: %(GDC_ROOT)s/logs/dice

[loadfiles]
LOAD_DIR: %(GDC_ROOT)s/loadfiles
FILTERED_SAMPLES: %(GDC_ROOT)s/loadfiles/filtered_samples.txt
HEATMAPS_DIR: %(GDC_ROOT)s/heatmaps
REDACTIONS_DIR: %(GDC_ROOT)s/redactions
BLACKLIST: %(GDC_ROOT)s/config/blacklist.tsv
REPORTS_DIR: %(GDC_ROOT)s/sample_reports
REF_DIR: %(GDC_ROOT)s/reference

[aggregates]
TCGA-COADREAD: TCGA-COAD,TCGA-READ
TCGA-GBMLGG: TCGA-GBM,TCGA-LGG
TCGA-KIPAN: TCGA-KICH,TCGA-KIRC,TCGA-KIRP
TCGA-STES: TCGA-STAD,TCGA-ESCA
TCGA-PANGI: TCGA-COAD,TCGA-READ,TCGA-STAD,TCGA-ESCA
